h1{
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
}
.mission-22{
    color:olive
}
#stay-focused{
    border-left: 4px solid;
    border-image: linear-gradient(orange, darksalmon );
    border-image-slice: 1;
    padding-left: 10px;
    margin-top:  10%; 
}
.width-place{
    width: 50%;
}
.width-place img{
    width: 70%;
    padding: 10%;
}
section{
    display: flex;
} 
section div p{
    text-align: justify;
}   

.web-devolop{
    margin-left: 10%;
}

.explore-now{
    text-decoration: none;
    background-image: linear-gradient(orange,darksalmon);
    color: whitesmoke;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 5px;
}
h2{
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
    font-family: 'Source Serif Pro', serif;

}
.my-mission-2022{
    color: firebrick;
}
.target{
    width: 25%;
    height: 27%;
    background-color: lightcyan;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 7%;
}
.target img{
    width: 40%;
}
.vission{
    width: 25%;
    height: 25%;
    background-color:lightskyblue;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.vission img{
    width: 40%;
}
.goals{
    width: 25%;
    height: 25%;
    background-color:lightgreen;
    margin:  10px;
    border-radius : 10px;
    padding: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-right: 5%;
}
.goals img{
    width: 40%;
}
.with-out{
    color:dodgerblue;
}
.community{
    color: mediumseagreen;
}
section p{
    text-align: justify;
}
.develop-limit{
    padding-right: 10%;
    padding-top: 5%;
}
.know-our{
    padding-left: 10%;
}
.header-text{
    text-align: center;
    font-size: 30px;
    margin-bottom: 8%;

}
.join{
    color:dodgerblue;
}
.our-community{
    color: mediumslateblue;

}
h3{
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
    padding-left: 3%;
}
.from-div{
    width: 25%;
    height: 25%;
    background-color: mediumslateblue;
    padding: 5%;
    border-radius: 15px;
    box-shadow:  10px 10px 15px mediumpurple, -15px -15px mediumpurple;
    margin-left: 15%;
}
.about-us{
    width: 25%;
    height: 25%;
    background-color:lightsalmon;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 10%;
}
.about-us img{
    width: 60%;
}
.about-us p{
    text-align: justify;
    padding: 3%;
}
#fname{
    border-radius: 15px;
    padding: 10px 15px;
}
#email{
    border-radius: 15px;
    padding: 10px 15px;
}
#password{
    border-radius: 15px;
    padding: 10px 15px;
}
.form-submit{
    background-image: linear-gradient(mediumpurple,mediumslateblue);
    color: darkslateblue;
    font-weight: 800;
    padding: 10px 80px;
    border-radius: 20px;
}
.form-reset{
    background-image: linear-gradient(mediumpurple,mediumslateblue);
    color: darkslateblue;
    font-weight: 800;
    padding: 10px 90px;
    border-radius: 20px;
}
.footer{
    background-color:black;
    margin-left:  0px; 
    margin-right: 0px;
    margin-bottom: 0px;
}
.footer h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 40px;
    padding-top: 3%;
}
.footer h3 span{
    color: crimson;
}
.footer  p{
    color: wheat;
    text-align: center;
    padding-bottom: 5%;
    font-weight: 800;
    font-size: 20px; ;
}